DOCKER_APP_NAME="Task Management API"
DOCKER_APP_ENV=local
DOCKER_APP_KEY=base64:YXAfdMD3Xz1qBrAbQV26dd0cGscOO0ne2VuDqm3IEU0=
DOCKER_APP_DEBUG=true
DOCKER_APP_URL=http://localhost:8000
DOCKER_APP_PORT=8000

DOCKER_DB_DATABASE=projectmanager
DOCKER_DB_USERNAME=laravel
DOCKER_DB_PASSWORD=secret
DOCKER_MYSQL_ROOT_PASSWORD=root
DOCKER_DB_PORT=3307

DOCKER_CACHE_STORE=database
DOCKER_QUEUE_CONNECTION=database
DOCKER_SESSION_DRIVER=database
DOCKER_MAIL_MAILER=log
DOCKER_LOG_CHANNEL=stderr
DOCKER_LOG_LEVEL=debug

DOCKER_SEED_DATABASE=false
DOCKER_TZ=Africa/Cairo
